<h1>{{question.subject}}</h1>
<div>
  {{question.content}}
</div>

<!-- answer_set을 이용한 역방향 참조를 통해 질문에 달린 답변의 개수를 파악한다. -->
<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
  <ul>
    {% for answer in question.answer_set.all %}
      <li>{{ answer.content }}</li>
    {% endfor %}
  </ul>
</div>

<!-- 답변 등록 폼 작성하기 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post">
<!-- csrf_token : 보안에 관련된 항목으로 form으로 전송한 데이터가 실제 웹 페이지에서 작성한 데이터인지를 판단하는 가늠자 역할을 한다. -->
<!-- 만약 해커가 공격을 시도하면 서버에서 발행한 csrf_token값과 해커가 일방적으로 보낸 csrf_token값이 일치하지 않기 때문에 블록될것이다. -->
  {% csrf_token %}
  <textarea name="content" id="content" rows="15"></textarea>
  <input type="submit" value="답변 등록">
</form>